:root {
  --dark-brown: #3b2f2f;
  --medium-brown: #593f2f;
  --light-brown: #a07855;
  --cream: #f3e4d3;
  --gold: #d9b56f;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  overflow-x: hidden  ;
}

.app {
  display: flex;
  min-height: 100vh;
}

